{% extends 'frontbase.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}

{{form_start(reservationForm)}}
{{form_row(reservationForm)}}
<button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Submit</button>

{{form_end(reservationForm)}}
{% endblock %}