{% extends 'base.html.twig' %}

{% block title %}Hello AgenceController!
{% endblock %}

{% block body %}

	{{ form_start(AgenceForm) }}
	{{form_row(AgenceForm)}}
	{# <button type="submit">ss</button> #}
	<button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Sign up</button>

	{{form_end(AgenceForm)}}


{% endblock %}
